<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cityName</key>
			<string>安庆</string>
			<key>cityLetter</key>
			<string>A</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>安宁</string>
			<key>cityLetter</key>
			<string>A</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>鞍山</string>
			<key>cityLetter</key>
			<string>A</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>安阳</string>
			<key>cityLetter</key>
			<string>A</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>白山</string>
			<key>cityLetter</key>
			<string>B</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>白银</string>
			<key>cityLetter</key>
			<string>B</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>保定</string>
			<key>cityLetter</key>
			<string>B</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>宝鸡</string>
			<key>cityLetter</key>
			<string>B</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>常德</string>
			<key>cityLetter</key>
			<string>C</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>常熟</string>
			<key>cityLetter</key>
			<string>C</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>成都</string>
			<key>cityLetter</key>
			<string>C</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>大理</string>
			<key>cityLetter</key>
			<string>D</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>大连</string>
			<key>cityLetter</key>
			<string>D</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>大庆</string>
			<key>cityLetter</key>
			<string>D</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>鄂尔多斯</string>
			<key>cityLetter</key>
			<string>E</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>阜阳</string>
			<key>cityLetter</key>
			<string>F</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>福州</string>
			<key>cityLetter</key>
			<string>F</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>佛山</string>
			<key>cityLetter</key>
			<string>F</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>抚顺</string>
			<key>cityLetter</key>
			<string>F</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>广元</string>
			<key>cityLetter</key>
			<string>G</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>广州</string>
			<key>cityLetter</key>
			<string>G</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>广安</string>
			<key>cityLetter</key>
			<string>G</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>赣州</string>
			<key>cityLetter</key>
			<string>G</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>哈尔滨</string>
			<key>cityLetter</key>
			<string>H</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>海宁</string>
			<key>cityLetter</key>
			<string>H</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>海口</string>
			<key>cityLetter</key>
			<string>H</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>杭州</string>
			<key>cityLetter</key>
			<string>H</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>江都</string>
			<key>cityLetter</key>
			<string>J</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>江门</string>
			<key>cityLetter</key>
			<string>J</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>江阴</string>
			<key>cityLetter</key>
			<string>J</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>焦作</string>
			<key>cityLetter</key>
			<string>J</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityName</key>
			<string>开封</string>
			<key>cityLetter</key>
			<string>K</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>克拉玛依</string>
			<key>cityLetter</key>
			<string>K</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>昆山</string>
			<key>cityLetter</key>
			<string>K</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>开远</string>
			<key>cityLetter</key>
			<string>K</string>
		</dict>
	</array>
</array>
</plist>
